.container-profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-profile h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-profile h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.container-profile p {
    max-width: 600px;
    margin-bottom: 10px;
}

.container-profile li {
    margin-bottom: 10px;
}

.container-profile a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .8s;
    display: flex;
    align-items: center;
}

.container-profile a:hover {
    color: aqua;
}

.container-profile a span {
    margin-right: 5px;
}

.container-img,
.container-about,
.container-courses,
.container-specialties-projects {
    width: 800px;
    background-color: #00000025;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.container-profile .container-img img {
    width: 200px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .container-img,
    .container-about,
    .container-courses,
    .container-specialties-projects {
        width: 95%;
    }
}

@media screen and (max-width: 580px) {
    .container-img, 
    .profile-contancts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profile, 
    .contacts {
        margin: 0 5px;
    }

    .container-profile .container-img img {
        width: 150px;
        margin-bottom: 20px;
    }
}