.container-profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-img {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.container-img img {
    width: 200px;
    padding: 2px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.container-img strong {
    margin-bottom: 12px;
}

.container-datas {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.container-datas a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.container-datas a:hover {
    color: aqua;
}

.container-datas a span {
    margin-right: 5px;
}

.container-profile h2 {
    font-size: 1.6em;
    margin: 20px 0;
}

.container-profile p {
    max-width: 550px;
}

.container-profile ul li {
    list-style: none;
}

.personal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contacts-ul li {
    margin: 10px 0;
}

.specialties li {
    margin: 10px 0;
    padding: 5px 0;
}

@media screen and (max-width: 480px) {
    .container-img img {
        margin-top: 0;
    }

    .container-profile p {
        max-width: 345px;
    }
}