.container-profile {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-img,
.container-about,
.container-courses,
.container-specialties,
.container-list-projects {
    background-color: #00000025;
    width: 800px;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.container-img h2,
.container-about h2,
.container-courses h2,
.container-specialties h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-img h3,
.container-about h3,
.container-courses h3,
.container-specialties h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.container-img p,
.container-about p,
.container-courses p,
.container-specialties p {
    max-width: 600px;
    margin-bottom: 10px;
}

.container-profile li {
    margin-bottom: 10px;
}

.container-img a,
.container-about a,
.container-courses a,
.container-specialties a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .8s;
    display: flex;
    align-items: center;
}

.container-img a:hover,
.container-about a:hover,
.container-courses a:hover,
.container-specialties a:hover {
    color: aqua;
}

.container-img a span,
.container-about a span,
.container-courses a span,
.container-specialties a span {
    margin-right: 5px;
}

.container-specialties ul {
    width: 600px;
}

.container-list-projects .list-projects {
    max-width: 600px;
}

.container-profile .container-img img {
    width: 200px;
    border-radius: 5px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.container-img .profile-contancts {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.container-about .about {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .9s;
}

@media (max-width: 800px) {
    .container-img,
    .container-about,
    .container-courses,
    .container-specialties,
    .container-list-projects {
        width: 95%;
    }
}

@media screen and (max-width: 580px) {
    .container-img, 
    .profile-contancts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profile, 
    .contacts {
        margin: 0 5px;
    }

    .container-profile .container-img img {
        width: 150px;
        margin-bottom: 20px;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(-0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(-0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(-0);
        opacity: 1;
    }
}