.container-skills {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    animation: tecnologiY 1.5s;
}

@keyframes tecnologiY {
    from {
        transform: translateY(120px);
    }
    to {
        transform: translateY(0px);
    }
}

.skills {
    width: 85%;
}

.skills h2 {
    text-align: center;
    font-size: 1.6em;
}

.tecs {
    display: flex;
    justify-content: space-around;
}

.tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
    height: 170px;
    margin-bottom: 30px;
    color: black;
    transition: transform 0.7s;
    transform: translateY(30px);
}

.tec h3 {
    position: absolute;
    top: -7px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.178)
}

.tec button {
    position: absolute;
    bottom: 40px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.3em;
    font-weight: bolder;
    text-shadow: -2px 2px 2px rgb(43, 42, 42);
}

/* .js {
    color: rgba(255, 255, 0, 0.753);
}

.node {
    color: rgb(0, 104, 0);
}

.react {
    color: rgb(0, 71, 177);
}

.git {
    color: rgb(255, 255, 255);
} */

@media (max-width: 1150px) {
    .tec {
        margin: 10px;
    }
}
@media (max-width: 880px) {
    .skills {
        width: 600px;
    }

    .tecs {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .skills {
        width: 400px;
    }

    .tecs {
        flex-wrap: wrap;
    }

    .tec {
        width: 150px;
        height: 190px;
    }
}