.container-skills {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    opacity: 0;
    animation: tecnologiY 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes tecnologiY {
    from {
        transform: translateY(120px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.skills {
    width: 80%;
}

.tecs {
    display: flex;
    justify-content: space-around;
}

.tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border-radius: 4px;
    cursor: pointer;
    width: 175px;
    height: 170px;
    margin-bottom: 30px;
    color: #fff;
    transition: transform 0.7s;
    transform: translateY(20px);
}

.tec:hover {
    color: aqua;
}

.tec:hover {
    transform: scale(1.1);
}

.tec h3 {
    position: absolute;
    top: 4px;
    font-size: 3.5em;
}

.tec h4 {
    position: absolute;
    bottom: 30px;
    border: 0;
    background-color: transparent;
    font-size: 1.3em;
    font-weight: bolder;
    text-shadow: -2px 2px 2px rgb(43, 42, 42);
}

@media (max-width: 1150px) {
    .tec {
        margin: 10px;
    }
}
@media (max-width: 880px) {
    .skills {
        width: 600px;
    }

    .tecs {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .skills {
        width: 400px;
    }

    .tecs {
        flex-wrap: wrap;
    }

    .tec {
        width: 150px;
        height: 190px;
    }
}