.container-introduceMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.introduceMe {
    max-width: 600px;
}

.introduceMe-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.introduceMe-text span {
    font-weight: bolder;
    font-size: 1.2em;
    color: aqua;
}

.introduceMe-text .name {
    font-size: 2.3em;
    margin-bottom: 10px;
}

.introduceMe-text .text {
    font-size: 1.1em;
    margin-bottom: 20px;
    max-width: 610px;
}

.btn-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-contacts a {
    text-decoration: none;
}

.btn-contacts button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.5em;
    margin: 0 15px;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    transition: transform 0.7s;
    transform: scale(1.05);
}

.btn-contacts button:hover {
    transform: scale(1);
}

.introduceMe-img {
    max-width: 600px;
}

.introduceMe-img img {
    max-width: 400px;
}

@media (max-width: 700px) {
    .introduceMe-text {
        margin: 0 0 15px 0;
    }

    .introduceMe-text .name {
        font-size: 1.5em;
    }

    .introduceMe-text .text {
        font-size: 1em;
        max-width: 500px;
    }
}

@media (max-width: 400px) {
    .introduceMe-text .text {
        width: 300px;
    }

    .btn-contacts button {
        font-size: 1.2em;
    }
}

