.container-introduceme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    overflow: hidden;
}

.introduceme-text .name {
    font-weight: 900;
    font-size: 2.9rem;
    color: aqua;
    opacity: 0;
    animation: slideXLeft 1s ease forwards;
    animation-delay: .5s;
}

.introduceme-text h3 {
    font-size: 2rem;
}

.introduceme-text .hello {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.introduceme-text .i-am{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}

.introduceme-text .text {
    font-size: 1.1em;
    margin: 20px 0 20px 0;
    max-width: 610px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.btn-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-contacts a {
    text-decoration: none;
}

.btn-contacts button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.5em;
    margin: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.7s;
    transform: scale(1.05);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.btn-contacts button:hover {
    transform: scale(1);
    background-color: #fff;
    color: #090e20;
}

.introduceMe-img {
    max-width: 600px;
}

.introduceMe-img img {
    max-width: 400px;  
    opacity: 0; 
    animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

@media (max-width: 700px) {

    .introduceMe-img img {
        max-width: 95%; 
    }

    .introduceme-text {
        margin-left: 15px;
    }

    .introduceMe-text .text {
        font-size: 1em;
        width: 90%;
    }

    .btn-contacts {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .introduceme-text .name {
        font-size: 1.5rem;
    }

    .introduceme-text h3 {
        font-size: 1.5rem;
    }

    .introduceme-text .text {
        width: 98%;
    }

    .introduceMe-img img {
        display: none;
    }

    .btn-contacts button {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRigth {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}