.container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-projects a {
    text-decoration: none;
    color: #fff;
    margin: 30px 10px;
    padding: 2px;
    width: 350px;
    transition: transform 0.7s;
    transform: scale(1.02);
}

.container-projects a:hover {
    transform: scale(1);
    color: aqua;
}

.container-projects h1 {
    color: #fff;
    font-size: 1.9em;
    margin: 0 30px 30px;
}

.projects {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects img {
    width: 340px;
    border-radius: 4px;
    padding: 2px;
    background-color: #fff;
}

@media (max-width: 480px) {
    .container-projects h1 {
        font-size: 1.5em;
    }
} 