.section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.section img {
    width: 500px;
    margin: 20px 0;
}

.section h1 {
    font-size: 3em;
}

.section p {
    font-size: 1.2em;
}

.section .cont {    
    width: 500px;
    padding: 20px;
}

.corBg {
    background-color:rgb(255, 255, 255);
    box-shadow: 3px 3px 10px black;
    padding: 60px 0;
}

.corLetra {
    color: white;
}