.bg-none {
    background-color: rgba(0, 0, 0, 0.171);
    color: #fff;
}

.bg-white {
    background-color: rgb(236, 236, 236);
    color: #000;
}

.bg-white .icon i {
    color: #000;
}

.content {
    max-width: 1000px;
    padding: 0 10px;
}

.container-notes {
    display: flex;
    justify-content: space-around;
}

.content-notes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content-notes .cont {
    max-width: 500px;
}

.icon i {
    font-size: 14em;
    cursor: auto;
    margin: 0 40px;
}

.content h1 {
    font-size: 2em;
    margin: 5px 0;
}

.content h2 {
    font-size: 1.7em;
    margin: 5px 0;
}

.btn {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.btn a,
button {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    transition: transform 0.7s;
    transform: scale(1.05);
}

.btn a:hover,
.btn button:hover {
    transform: scale(1);
}

.btn-white {
    border: 1px solid #fff;
    color: #fff;
}

.btn-black {
    border: 1px solid #000;
}

.cont-note .cont-note-info {
    padding: 0 10px;
}

.cont-note-info h3 {
    font-size: 1.4em;
    margin: 5px 0;
}

.cont-note-info h4 {
    font-size: 1.2em;
    margin: 5px 0;
}

.cont-note-info strong {
    margin: 0 3px;
}

.div-img {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.div-img img {
    width: 600px;
    border-radius: 5px;
    border: 1px solid black;
    transition: .7s;
    transform: scale(1);
}

.div-img img:hover {
    border: 1px solid rgb(201, 201, 201);
    transform: scale(1.02);
}

.div-video {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.div-video iframe {
    width: 600px;
    border-radius: 5px;
}

@media (max-width: 769px) {
    .div-img img {
        width: 350px;
    }

    .div-video iframe {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .icon i {
        font-size: 11em;
        margin: 15px 0px;
    }
}

#note {
    display: none;
}

#note.active {
    display: block;
} 